<header class="main-header style-two">
  <!-- header-lower -->
  <div class="header-lower">
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-5.png);"></div>
    <div class="outer-box">
      <div class="auto-container">
        <div class="menu-area clearfix">
          <!--Mobile Navigation Toggler-->
          <div class="mobile-nav-toggler">
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
          </div>
          <nav class="main-menu navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                <li class="current dropdown">
                  <a href="index.html">
                    <img src="/assets/images/icons/cupcake.svg" alt="">
                    Prajituri</a>
                  <ul>
                    <li><a href="index.html">Prajituri La Petite</a></li>
                    <li><a href="index-2.html">Clasice & Traditionale</a></li>
                  </ul>
                  <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                </li>
                <li class="dropdown">
                  <a href="index.html">
                    <img src="/assets/images/icons/cake.svg" alt="">
                    Torturi
                  </a>
                  <ul>
                    <li><a href="shop-1.html">Tort Aniversar</a></li>
                    <li><a href="shop-2.html">Tort Personalizat</a></li>

                  </ul>
                  <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                </li>
                <li>
                  <a href="index.html">
                    <img src="/assets/images/icons/big-pretzel.svg" alt="">
                    Produse sarate
                  </a>
                </li>
                <li class="logo-box">
                  <figure class="logo"><a href="index.html"><img src="assets/images/logo-la-petite-gold-1.png"
                        alt=""></a>
                  </figure>
                </li>
                <li>
                  <a href="index.html">
                    <img src="/assets/images/icons/macaroons.svg" alt="">
                    Candy Bar
                  </a>

                </li>
                <li>
                  <a href="index.html">
                    <img src="/assets/images/icons/chef.svg" alt="">
                    Editie Limitata
                  </a>
                </li>
                <li>
                  <a href="contact.html">
                    <img src="/assets/images/icons/candle.svg" alt="">
                    Accesorii
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <ul class="menu-right-content clearfix">
        <li class="search-box-outer">
          <div class="dropdown">
            <button class="search-box-btn" style="background-image: url(assets/images/icons/icon-bg-6.png);"
              type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="icon-Search"></i></button>
            <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
              <div class="form-container">
                <form method="post" action="blog.html">
                  <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </li>
        <li class="user-btn">
          <a href="index.html" style="background-image: url(assets/images/icons/icon-bg-6.png);">
            <i class="icon-Profile"></i>
          </a>
        </li>
        <li class="cart-btn">
          <a href="shop-1.html" style="background-image: url(assets/images/icons/icon-bg-6.png);">
            <i class="icon-Bag"></i>
            <span>3</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!--sticky Header-->
  <div class="sticky-header">
    <div class="outer-box">
      <div class="logo-box">
        <figure class="logo"><a href="index.html"><img src="assets/images/small-logo.png" alt=""></a></figure>
      </div>
      <div class="menu-area">
        <nav class="main-menu clearfix">
          <!--Keep This Empty / Menu will come through Javascript-->

          <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
            <ul class="navigation clearfix">
              <li class="current dropdown"><a href="index.html">Home</a>
                <ul>
                  <li><a href="index.html">Ice Cream Shop</a></li>
                  <li><a href="index-2.html">Cake Shop</a></li>
                  <li><a href="index-3.html">Coffe Shop</a></li>
                  <li><a href="index-4.html">Bread Shop</a></li>
                  <li><a href="index-onepage.html">OnePage Home</a></li>
                  <li><a href="index-rtl.html">RTL Home</a></li>
                  <li class="dropdown"><a href="index.html">Header Style</a>
                    <ul>
                      <li><a href="index.html">Header Style 01</a></li>
                      <li><a href="index-2.html">Header Style 02</a></li>
                      <li><a href="index-3.html">Header Style 03</a></li>
                    </ul>
                    <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
                  </li>
                </ul>
                <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
              </li>
              <li class="dropdown"><a href="index.html">Shop</a>
                <ul>
                  <li><a href="shop-1.html">Shop Page 01</a></li>
                  <li><a href="shop-2.html">Shop Page 02</a></li>
                  <li><a href="shop-details.html">Shop Details</a></li>
                  <li><a href="cart.html">Cart Page</a></li>
                  <li><a href="checkout.html">Checkout Page</a></li>
                </ul>
                <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
              </li>
              <li class="dropdown"><a href="index.html">Pages</a>
                <ul>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="service.html">Our Services</a></li>
                  <li><a href="gallery-1.html">Gallery Page 01</a></li>
                  <li><a href="gallery-2.html">Gallery Page 02</a></li>
                  <li><a href="gallery-3.html">Gallery Page 03</a></li>
                  <li><a href="team.html">Our Team</a></li>
                  <li><a href="our-menu.html">Our Menu</a></li>
                  <li><a href="testimonial.html">Testimonials</a></li>
                  <li><a href="faq.html">Faq's</a></li>
                  <li><a href="error.html">404</a></li>
                </ul>
                <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
              </li>
              <li class="logo-box">
                <figure class="logo"><a href="index.html"><img src="assets/images/logo-la-petite-gold-1.png" alt=""></a>
                </figure>
              </li>
              <li class="dropdown"><a href="index.html">Elements</a>
                <div class="megamenu">
                  <div class="row clearfix">
                    <div class="col-xl-6 col-lg-12 col-md-12 column">
                      <ul>
                        <li>
                          <h4>Elements 1</h4>
                        </li>
                        <li><a href="about-element-1.html">About Block 01</a></li>
                        <li><a href="about-element-2.html">About Block 02</a></li>
                        <li><a href="service-element-1.html">Service Block 01</a></li>
                        <li><a href="service-element-2.html">Service Block 02</a></li>
                        <li><a href="shop-element-1.html">Shop Block 01</a></li>
                        <li><a href="shop-element-2.html">Shop Block 02</a></li>
                        <li><a href="news-element-1.html">News Block 01</a></li>
                        <li><a href="news-element-2.html">News Block 02</a></li>
                      </ul>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 column">
                      <ul>
                        <li>
                          <h4>Elements 2</h4>
                        </li>
                        <li><a href="feature-element-1.html">Feature Block 01</a></li>
                        <li><a href="feature-element-2.html">Feature Block 02</a></li>
                        <li><a href="project-element-1.html">Project Block 01</a></li>
                        <li><a href="project-element-2.html">Project Block 02</a></li>
                        <li><a href="team-element-1.html">Team Block 01</a></li>
                        <li><a href="team-element-2.html">Team Block 02</a></li>
                        <li><a href="testimonial-element.html">Testimonial Block</a></li>
                        <li><a href="clients-element.html">Clients Block</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
              </li>
              <li class="dropdown"><a href="index.html">Blog</a>
                <ul>
                  <li><a href="blog-grid.html">Blog Grid</a></li>
                  <li><a href="blog-masonry.html">Blog Masonry</a></li>
                  <li><a href="blog-standard.html">Blog Standard</a></li>
                  <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
                <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>
              </li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="menu-right-content clearfix">
        <li class="search-box-outer">
          <div class="dropdown">
            <button class="search-box-btn" style="background-image: url(assets/images/icons/icon-bg-1.png);"
              type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="icon-Search"></i></button>
            <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
              <div class="form-container">
                <form method="post" action="blog.html">
                  <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </li>
        <li class="cart-btn">
          <a href="shop-1.html" style="background-image: url(assets/images/icons/icon-bg-1.png);">
            <i class="icon-Bag"></i>
            <span>3</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
