 <!-- banner-section -->
 <section class="banner-section style-one">
   <owl-carousel-o [options]="customOptions" class="banner-carousel nav-style-one">
     <ng-template carouselSlide>
       <div class="slide-item">
         <div class="image-layer" style="background-image:url(assets/images/banner/banner.jpg)"></div>
         <div class="anim-icon">
           <div class="icon icon-1" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-2" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-3" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-4" style="background-image: url(assets/images/shape/shape-1.png);"></div>
           <div class="icon icon-5" style="background-image: url(assets/images/shape/shape-2.png);"></div>
         </div>
         <div class="auto-container">
           <div class="content-inner">
             <div class="content-box">

               <h1>
                 <span>Laborator de</span>
                 Cofetarie artizanala
               </h1>

               <div class="btn-box">
                 <a href="/contact" class="banner-btn">Contact</a>
               </div>
             </div>
             <figure class="image-box style-one">
               <img src="assets/images/Tort-latte-Framboise-2.png" alt="">
             </figure>
           </div>
         </div>
       </div>
     </ng-template>
     <!-- <ng-template carouselSlide>
       <div class="slide-item">
         <div class="image-layer" style="background-image:url(assets/images/banner/banner-2.jpg)"></div>
         <div class="anim-icon">
           <div class="icon icon-4" style="background-image: url(assets/images/shape/shape-1.png);"></div>
           <div class="icon icon-5" style="background-image: url(assets/images/shape/shape-2.png);"></div>
           <div class="icon icon-6 rotate-me" style="background-image: url(assets/images/shape/shape-3.png);"></div>
         </div>
         <div class="auto-container">
           <div class="content-inner">
             <div class="content-box">
               <h1>Taste From The Good Old Days.</h1>
               <p>Trend Spotted by Europe Locals – Colorful Macarons!</p>
               <div class="btn-box">
                 <a href="index.html" class="banner-btn">Explore Now</a>
               </div>
             </div>
             <figure class="image-box style-two"><img src="assets/images/banner/banner-image-2.png" alt=""></figure>
           </div>
         </div>
       </div>
     </ng-template>
     <ng-template carouselSlide>
       <div class="slide-item">
         <div class="image-layer" style="background-image:url(assets/images/banner/banner-3.jpg)"></div>
         <div class="anim-icon">
           <div class="icon icon-1" style="background-image: url(assets/images/icons/anim-icon-1.png);"></div>
           <div class="icon icon-2" style="background-image: url(assets/images/icons/anim-icon-2.png);"></div>
           <div class="icon icon-3" style="background-image: url(assets/images/icons/anim-icon-3.png);"></div>
           <div class="icon icon-4" style="background-image: url(assets/images/shape/shape-1.png);"></div>
           <div class="icon icon-5" style="background-image: url(assets/images/shape/shape-2.png);"></div>
         </div>
         <div class="auto-container">
           <div class="content-inner">
             <div class="content-box">
               <h1>Taste From The Good Old Days.</h1>
               <p>Trend Spotted by Europe Locals – Colorful Macarons!</p>
               <div class="btn-box">
                 <a href="index.html" class="banner-btn">Explore Now</a>
               </div>
             </div>
             <figure class="image-box style-one"><img src="assets/images/banner/banner-image-3.png" alt=""></figure>
           </div>
         </div>
       </div>
     </ng-template> -->

   </owl-carousel-o>
 </section>
 <!-- banner-section end -->
