<section class="page-title centred"
  style="background-image: url(assets/images/background/imagine-category-la-petite.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Comenzile mele</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/">Acasa</a></li>
        <li> Comanda {{order?.order_uuid}}</li>
      </ul>
    </div>
  </div>
</section>
<section class="my-account">

  <div class="container">
    <div class="row">
        <div class="col-lg-9 order-lg-last dashboard-content">
          
          <p>Plasata in: <strong>{{order?.date}}</strong></p>
          <p>Total: <strong>{{order?.total}} lei</strong></p>
         
          
  
          <p *ngIf="order?.discount > 0">Discount: <strong>{{order?.discount}}%</strong></p>
  
          <div class="delivery-card card">
            <p><strong>Adresa de livrare:</strong></p>
            <p>{{order?.customer.firstName}} {{order?.customer.lastName}}, {{order?.customer.phone}}</p>
            <p>{{order?.customer.shippingAddress[0].address}}, {{order?.customer.shippingAddress[0].county}},
              {{order?.customer.shippingAddress[0].town}}</p>
          </div>
  
          <div class="delivery-card card">
            <p><strong>Modalitate de plata:</strong></p>
            <p>{{order?.method == "card" ? 'Plata card' : 'Plata cash'}}</p>
           
            <p>Valoare toala: {{order?.total}} lei</p>
          </div>
  
          <p><strong>Produse:</strong></p>
          <ul class="products">
            <li *ngFor="let product of order?.products">
              <a href="/produs/{{product?.alias}}" class="product-image">
                <img src="{{product?.image_url}}" alt="product">
              </a>
              <a href="/produs/{{product?.alias}}" class="product-name">
                  {{product?.name}}
              </a>
              
            </li>
          </ul>
        </div><!-- End .col-lg-9 -->
  
        <aside class="sidebar col-lg-3">
          <div class="widget widget-dashboard">
            <h3 class="widget-title">Contul meu</h3>
  
            <ul class="list">
              <li routerLinkActive='active'><a routerLink="/contul-meu">Informatii cont</a></li>
              <li routerLinkActive='active'><a routerLink="/adresele-mele">Adresele mele</a></li>
              <li routerLinkActive='active'><a routerLink="/comenzile-mele">Comenzile mele</a></li>
              <li routerLinkActive='active'><a routerLink="/cupoane-reducere">Cupoane reducere</a></li>
            </ul>
  
          </div><!-- End .widget -->
        </aside><!-- End .col-lg-3 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  
    <div class="mb-5"></div><!-- margin -->

  