<!--Page Title-->
<section class="page-title centred"
  style="background-image: url(assets/images/background/imagine-category-la-petite.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Login</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/">Acasa</a></li>
        <li><a routerLink="/produse"> Login</a></li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- single-product -->
<section class="single-product">
  <div class="product-details-content" style="background-image: url(assets/images/background/single-shop-1.jpg);">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
          <button (click)="signInWithFB()" class="btn btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook</button>
          <button (click)="signInWithGoogle()" class="btn btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google</button>
        </div>
      </div>
    </div>
  </div>
</section>
