<!--Page Title-->
<section class="page-title centred"
  style="background-image: url(assets/images/background/imagine-category-la-petite.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Autentificare</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/">Acasa</a></li>
        <li> Autentificare</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- single-product -->
<section class="single-product">
  <div class="product-details-content" style="background-image: url(assets/images/background/single-shop-1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="heading">
            <h2 class="title">Autentificare cu cont</h2>
            <p>Daca aveti deja cont, va rugam sa va autentificati.</p>
          </div><!-- End .heading -->

          <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" [(ngModel)]="model.password"
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required
                minlength="6">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>


            <div class="form-footer">
              <button type="submit" class="theme-btn-one">Autentificare</button>
              <a routerLink="/am-uitat-parola" class="forget-pass"> Ai uitat parola?</a>
            </div><!-- End .form-footer -->
          </form>

          <h2>Sau</h2>
          <div class="social-login">
            <button (click)="signInWithFB()" class="btn-facebook">
              <span class="fa fa-facebook"></span> Autentificare cu Facebook</button>
            <button (click)="signInWithGoogle()" class="btn-google">
              <span class="fa fa-google"></span> Autentificare cu Google</button>
          </div>
        </div><!-- End .col-md-6 -->

        <div class="col-md-6">
          <div class="heading">
            <h2 class="title">De ce sa-ti faci cont?</h2>
            <p>Avantaje unui cont pe site-ul nostru consta in plasarea mai rapida a comenzii, posibilitatea de a stoca si
              de
              alege rapid adresele de livrare si vizualizarea comenzii sau a istoricului comenzilor.</p>

          </div><!-- End .heading -->

          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nume" required>
            </div>

            <div class="form-group form-footer">
              <input type="text" class="form-control" placeholder="Prenume" required>
            </div>

            <div class="heading">
              <h2 class="title">Informatii cont</h2>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Parola" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirma Parola" required>
            </div>

            <div class="form-footer form-group">
              <button type="submit" class="theme-btn-one">Creeaza cont</button>
            </div><!-- End .form-footer -->
          </form>
        </div><!-- End .col-md-6 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div>
</section>
