<!--Page Title-->
<section class="page-title centred"
  style="background-image: url(assets/images/background/imagine-category-la-petite.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Cofetaria La Petite - Douce Revelation</h1>
      </div>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- shop-page-section -->
<section class="shop-page-section shop-page-1">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
        <div class="shop-sidebar default-sidebar">
          <div class="sidebar-widget sidebar-search">
            <form action="shop-1.html" method="post" class="search-form">
              <div class="form-group">
                <input type="search" name="search-field" placeholder="Search..." required="">
                <button type="submit"><i class="icon-Search"></i></button>
              </div>
            </form>
          </div>
          <div class="sidebar-widget sidebar-categories">
            <div class="widget-title">
              <h3>Categorii</h3>
            </div>
            <div class="widget-content">
              <ul class="categories-list clearfix">
                <li *ngFor="let category of categories">
                    <a routerLink="/produse/{{category.slug}}">{{category.category_name}}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 content-side">
        <div class="our-shop">
          <div class="item-shorting clearfix">
            <div class="left-column pull-left clearfix">
              <div class="text">
                <p>Arata 1–12 of 50 Results</p>
              </div>
            </div>
            <div class="right-column pull-right clearfix">
              <div class="short-box clearfix">
                <p>Short by</p>
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Popularity">Popularity</option>
                    <option value="1">New Collection</option>
                    <option value="2">Top Sell</option>
                    <option value="4">Top Ratted</option>
                  </select>
                </div>
              </div>
              <div class="menu-box">
                <a href="shop.html"><i class="icon-Menu"></i></a>
                <a href="shop.html"><i class="icon-List-View"></i></a>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 shop-block" *ngFor="let product of products">
              <div class="shop-block-one">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="/assets/images/resource/shop/{{product.images[0].image_url}}" alt="">
                  </figure>
                  <div class="lower-content">
                    <span class="price-box">{{product.information[0].price}} lei</span>
                    <h3><a href="shop-details.html">{{product.product_name}}</a></h3>
                    <ul>
                        <li *ngFor="let qnt of product.information">
                            <span>{{qnt.quantity}} {{qnt.um}}</span>
                        </li>
                    </ul>
                    
                    <div class="cart-btn"><a (click)="addToCart(product)" class="theme-btn-two">Adauga in cos</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="pagination-wrapper centred">
            <ul class="pagination">
              <li><a (click)="decreaseCurrentPage();"><i class="fas fa-angle-left"></i></a></li>
              <li *ngFor="let number of pages" (click)="setCurrentPage(number)">
                <a [class.active]="number === currentPage">{{number}}</a>
              </li>
              <li><a (click)="increaseCurrentPage();"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- shop-page-section end -->
