.service-block-one .inner-box .icon-box {
    i {
        color: #fff;
    }
}

.special-menu-box .bg-layer {
    height: 100%;
}

.special-menu-box .border-shape {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}