

.banner-carousel .owl-nav {
    right: -100px;
}

body {
    height: 100%;
    min-height: 100vh;
}

.boxed_wrapper{
    height: 100%;
    min-height: 100vh;
}

.owl-dots {
    background: transparent;
    position: absolute;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #6d4b50;
}

.theme-btn-two {
    &:hover {
        border-color: #ecbbb6;
    }
    &::before, &::after {
        background: #ecbbb6;
        box-shadow: 0 10px 20px rgba(236, 187, 182, 0.3);
    }
}

.nav-style-one .owl-nav .owl-prev:hover, .nav-style-one .owl-nav .owl-next:hover {
    background: #6d4b50;
}

.theme-btn-one {
    background: #ecbbb6;
    box-shadow: 0 10px 20px rgba(236, 187, 182, 0.3);

    &::before, &::after {
        background: #6d4b50;
    }
}