.checkout-section .upper-box .single-box {}

.theme-btn-one {
  &:hover {
    cursor: pointer;
  }
}

.other-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;

  small {
    flex-basis: 100%;
    color: #f60000;
  }

  img {
    height: 20px;
    margin-right: 8px;

  }
}

.coupon-box {
  display: flex;
  width: 100%;

  input[type='text'] {
    position: relative;
    display: inline-block;
    max-width: 260px;
    width: 100%;
    font-size: 15px;
    height: 60px;
    color: #848484;
    border: 1px solid #e6e6e6;
    padding: 10px 30px;
    float: left;
  }

}


.checkout-section .sub-title {
  margin-bottom: 20px;

  &.payment-info {
    margin: 0;
  }
}